body {
    vertical-align: baseline;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 85%;
    text-align: center;
    margin: auto;
    background-color: #f0f8ff;
}

.svg-container {
    margin: 3% auto;
    text-align: center;
}

object {
    width: 100%;
    height: 100%;
}